DEFAULT_LOCALE=en
ANDROID_BUNDLE_ID=com.iampikai.rnquickstart
ANDROID_BUNDLE_DISPLAY_NAME=RNQuickStart
ANDROID_BUILD_VERSION=1
ANDROID_BUILD_DISPLAY_VERSION=1.0
IOS_BUNDLE_ID=com.iampikai.rnquickstart
IOS_BUNDLE_DISPLAY_NAME=RNQuickStart
IOS_BUILD_VERSION=1
IOS_BUILD_DISPLAY_VERSION=1.0
SKIP_PREFLIGHT_CHECK=true
ESLINT_NO_DEV_ERRORS=true
